body {
    background-image: url("");
    background-position: center;
    background-size: 100%;
   }

h2 {
    margin-left: 10%;
    font-size: 35px;
}
.navbar {
    margin: 0;
    padding: 0;
    background: lightslategray;
    color: #fff;
}

.navbar-brand {
    padding-bottom: 10px;
}

.nav-item {
    position: fixed;
    left: 75%;
    padding-right: 5px;
    font-size: 25px;
    color: black;
}

.seperator {
    color: #7a6655;
}

.green {
    font-weight: 500;
    animation: correct 0.5s;
}
